@import '../../styles/variables.scss';
.title {
    margin: 2rem 0 1rem 2rem;
    font-size: 2rem;
    font-weight: 500;
    color: $primary-color;
}
.card {
    width: 95%;
    padding-bottom: 30px;
    margin: auto !important;
    &__item {
        p {
            font-size: 1.1rem;
        }
    }
}
