.sider {
    background-color: white;
    height: 100vh;
    margin-top: 3.5rem;
    max-height: calc(100vh - 3.5rem);
    transition: all 0.1s ease-in;
    &--responsive {
        position: fixed;
        z-index: 1;
        top: 0;
    }
}
.header {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #edf2f9;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    &__menu {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        transition: all 0.1s ease-in;
        width: 200px;
        line-height: 3.5rem;
        text-align: center;
        border-bottom: 1px solid #edf2f9;
        border-right: 1px solid #edf2f9;
        color: #1777ff;
        font-size: 1.3rem;
        font-weight: 800;
        &--collapse {
            width: 80px;
            font-size: 1rem;
        }
        &--responsive {
            visibility: hidden;
            width: 0px;
        }
        &--responsiveWidth {
            width: 160px !important;
        }
    }
    &__collapse {
        width: 0;
        margin-left: 1rem;
        &--responsive {
            button {
                flex: 1;
            }
        }
        button {
            font-size: 1.1rem;
        }
    }
    &__logout {
        margin-right: 1rem;
    }
}
.content {
    min-height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
}
