.sider {
    background-color: white;
    &__logo {
        width: 200px;
        line-height: 3.5rem;
        text-align: center;
        border-bottom: 1px solid #edf2f9;
        border-right: 1px solid #edf2f9;
        color: #1777ff;
        font-size: 1.3rem;
        font-weight: 800;
        &--collapse {
            width: 80px;
            font-size: 1rem;
        }
    }
}
.header {
    background-color: white;
    border-bottom: 1px solid #edf2f9;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__collapse {
        margin-left: 1rem;
        button {
            font-size: 1.1rem;
        }
    }
    &__logout {
        margin-right: 1rem;
    }
}
.content {
    height: calc(100vh - 3.5rem);
}
