.sider {
    background-color: white;
    z-index: 10;
    &__logo {
        width: 100%;
        line-height: 3.5rem;
        text-align: center;
        border-bottom: 1px solid #edf2f9;
        border-right: 1px solid #edf2f9;
        color: #1777ff;
        font-size: 1.3rem;
        font-weight: 800;
        &--collapse {
            width: 80px;
            font-size: 1rem;
        }
    }
    &--responsive {
        height: 100vh;
        position: fixed;
        top: 0;
    }
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    background-color: white;
    &__collapse {
        width: 0;
        margin-left: 1rem;
        font-size: 1.2rem;
        &--responsive {
            margin-left: 170px;
        }
    }
    &__logout {
        margin-right: 1rem;
    }
}
.content {
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
}
